$MEDIA_MAX_WIDTH: 750px;
body {
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
}
ul {
  padding-left: 0;
}
.container {
  display: flex;
  width: 95%;
  margin: 0 auto;
  padding-top: 150px;
  flex-wrap: wrap;
  text-align: center;
  @media (max-width: $MEDIA_MAX_WIDTH) {
    padding-top: 70px;
  }
}
.colorItem {
  @media (max-width: $MEDIA_MAX_WIDTH) {
    flex: 1 100%;
    padding: 15px 0;
    margin: 3px auto;
  }
  flex: 1 25%;
  margin: 10px;
  padding: 20px 25px;
  text-align: center;
  cursor: pointer;
}
.textCapitalize {
  text-transform: capitalize;
}
.filterList {
  flex: 1 100%;
  width: 100%;
  list-style: none;
  .active {
    background-color: deepskyblue;
  }
  li {
    text-align: center;
    display: inline-block;
    padding: 11px 22px;
    margin: 10px;
    background-color: darkgray;
    cursor: pointer;
    @media (max-width: $MEDIA_MAX_WIDTH) {
      padding: 10px 20px;
      font-size: 12px;
      margin: 2px;
    }
  }
}
.hideColor {
  display: none;
}
.headerColor {
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 30px 5px;
  text-align: center;
  z-index: 9999;
  box-shadow: 0px 2px 1px rgba(0,0,0,.2);
  transition: 100ms ease-in-out;
  @media (max-width: $MEDIA_MAX_WIDTH) {
    font-size: 14px;
  }
}